:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* css laura */
.cont{
  margin-top: 25px;
}

.cont3{
  margin-top: 50px;
  padding: 30px;
}

.logo{
  width: 650px;
  margin-top: 220px;
  margin-left: 65px;
}

.b{
  margin-top: 20px;
  margin-right: 5px;

}
.buton{
  margin-left: 200px;
}

.color{
  background-color: black;
  height: 705px;

}
.btn2 {
  background-color:black; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 20px;
}

.btn2 {
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.btn2:hover {
  background-color: white; 
  color: black;
  box-shadow: 0 12px 16px 0 rgba(10, 10, 10, 0.979), 0 17px 50px 0 rgba(10, 10, 10, 0.8);
}

.logo2{
  margin-left: 5px;
  width: 650px;
  margin-top: 230px;
}
.logo3{
  margin-left: 5px;
  width: 650px;
  margin-top: 230px;
}

.p{
  margin-top: 25px;
}

.sesion{
  text-align: center;
  color: white;
}
.logonav{
  width: 250px;
}
